@font-face {
    font-family: 'Euphemia-UCAS';
    src:url('../fonts/Euphemia-UCAS.ttf.woff') format('woff'),
        url('../fonts/Euphemia-UCAS.ttf.svg#Euphemia-UCAS') format('svg'),
        url('../fonts/Euphemia-UCAS.ttf.eot'),
        url('../fonts/Euphemia-UCAS.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}


body {
  background-color: black;
  color: white;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  padding: 0px;
} 

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

iframe {
    width:100%;
    height: 700px;
    border: 0px;
}

#screen1 {
    overflow: auto;
    text-align: center;
    
}

#screen2 {
    width: 90%;
    max-width: 295px;
    margin: auto;
    opacity: 0;
    display: none;
}

#screen3 {
    width: 100%;
    margin: auto;
    opacity: 0;
    display: none;
}

#screen3 ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#screen3 ul li {
    text-align: center;
    margin-bottom: 5px;
}

#container {
    width: 90%;
    max-width: 290px;
    margin: auto;
}

#header_links {
    width: 90%;
    max-width: 700px;
    margin: 0px auto 50px auto;
    text-align: center;
    text-transform: uppercase;
}

#planes_header {
    height: 80px;
    margin: 0px 0px 30px 0px;
}

#planes_header h1 {
    font-family: 'Euphemia-UCAS', 'Open Sans', sans-serif;
    font-weight: normal;
    text-align: center;
    letter-spacing: 40px;
    padding: 0px;
    position: absolute;
    width: 260px;
    left: 50%;
    margin-left: -130px;
    margin-top: 50px;
    font-size: 18px;
}

.title {
    font-family: 'Euphemia-UCAS', 'Open Sans', sans-serif;
    font-weight: normal;
    letter-spacing: 50px;
    font-size: 20px;
    position: absolute;
    width: 320px;
    height: 30px;
    left: 50%;
    top: 50%;
    margin-left: -160px;
    margin-top: -40px;
    z-index: 10;
    opacity: 0;
}

.subtitle {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    margin-top: 25px;
    letter-spacing: 5px;
    opacity: 0;
}

.line {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgba(255,255,255,1.0);
    left: 0px;
    top: 50%;
    z-index: 0;
    opacity: 0;
}